body {
  overflow-x: hidden;
  width: 100vw;
  background-color: #d8c9c9b0;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.2em;
  font-family: HelveticaNeue, Helvetica Neue, helvetica, Sans-Serif;
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100vw;
  display: flex;
}

/* Header */
header {
  z-index: 99;
  background-color: rgb(230, 233, 235);
  box-shadow: 1px 1px 20px rgb(187, 177, 177);
  width: 100vw;
  height: 15%;
  /* Display property */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  /* posiotn Property  */
  position: fixed;
  top: 0px;
}

.nav-two ul {
  display: flex;
  gap: 1.2em;
}

a:link {
  text-decoration: none;
}
a {
  color: black;
}

a:visited {
  color: rgb(18, 16, 16);
}

a:hover {
  text-decoration: underline;
  color: #1eb8ae;
}
nav ul > li {
  list-style-type: none;
}

.nav-three {
  display: none;
}

span:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #1eb8ae;
  position: absolute;
  left: 10px;
}

.nav-one {
  padding-left: 1.3em;
}
/* Footer  */
footer {
  background-color: rgb(230, 233, 235);
  box-shadow: 1px 1px 20px rgb(187, 177, 177);
  width: 100vw;
  height: 16%;
  /* Display property */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  /* posiotn Property  */
  /* position: fixed; */
  bottom: 0px;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item-two {
  display: flex;
  gap: 2em;
}

.f-i-t-one,
.f-i-t-two,
.f-i-t-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
}

/* Main --> about section --> index.html */

main {
  height: 800px;
}

.about-section {
  padding-top: 100px;
  /* z-index: -3; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100;
  width: 100vw;
}

.about-section-left {
  z-index: 0;
  width: 50%;
  height: 100vh;
  position: relative;
  background-color: #d4b3e2f9;
}

.inside-a-s-l {
  position: absolute;
  right: -50px;
  top: 10%;
  background-color: #d4b3e2f9;
  box-shadow: 0px 2px 20px 0.5px #444444;
  width: 350px;
  height: 70%;
  border-radius: 10px;
}

.about-section-right {
  line-height: 1.5em;
  padding: 0em 7em;
  padding-left: 5em;
  width: 50%;
  height: 100vh;
  background-color: #e6e9eb;
}

.heading-bigger {
  font-size: 4em;
}

.para-bolder {
  font-weight: bolder;
}

.about-right-box {
  display: flex;
  gap: 2em;
  width: 50%;
}

.about-right-box a {
  width: 150px;
  padding: 0.2em;
  border: 1px solid rgb(18, 204, 217);
  text-align: center;
  border-radius: 10px;
  color: #4d6f71;
  font-weight: 700;
  border-width: 1px;
}

a:link {
  text-decoration: none;
}
